# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
_site/.htaccess
_site/404.html
_site/browserconfig.xml
_site/favicon.ico
_site/humans.txt
_site/icon.png
_site/index.html
_site/LICENSE.txt
_site/robots.txt
_site/site.webmanifest
_site/tile-wide.png
_site/tile.png
_site/assets/css/style.css
_site/css/main.css
_site/css/normalize.css
_site/datenschutz/index.html
_site/doc/css.html
_site/doc/css.md
_site/doc/extend.html
_site/doc/extend.md
_site/doc/faq.html
_site/doc/faq.md
_site/doc/html.html
_site/doc/html.md
_site/doc/js.html
_site/doc/js.md
_site/doc/misc.html
_site/doc/misc.md
_site/doc/TOC.html
_site/doc/TOC.md
_site/doc/usage.html
_site/doc/usage.md
_site/img/Nav_Adriane_2.png
_site/img/Nav_Adriane.png
_site/img/Nav_DruckShop.png
_site/img/Nav_Kontakt_2.png
_site/img/Nav_Kontakt.png
_site/img/Nav-Kinderbücher.png
_site/img/Titel_AdrianeNiepel.png
_site/impressum/index.html
_site/js/main.js
_site/js/plugins.js
_site/js/vendor/jquery-3.4.1.min.js
_site/js/vendor/modernizr-3.8.0.min.js
_site/kinderbuecher/index.html
_site/kontakt/index.html
_site/ueber_mich/index.html
Gemfile.lock
